:root {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(".img/left.svg"), url(".img/right.svg");
    background-position: left bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 20vw auto, 30vw, auto;
    background-attachment: fixed;
}

div.header {
    background-color: rgb(47, 47, 49);
    width: 100vw;
    margin: 0;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(".img/r2p.svg");
    background-position: 1vw, 2vw;
    background-repeat: no-repeat;
    background-size: 7vw auto;
    background-attachment: scroll;
}

div.main_container {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

img {
    width: 30vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3.5vw;
    display:inline;
    color: rgb(53, 167, 61);
    text-align: center;
    vertical-align: center;
    margin: 0 auto;
}

h2 {
    margin: 0;
}

p.descr {
    width: 75vw;
    word-wrap: break-word;
}

li {
    margin-top: 1em;
}